[project]
name = "pyprojectx"
dynamic = ["version", ]
description = "Execute scripts from pyproject.toml, installing tools on-the-fly"
license = { text = "MIT" }
authors = [{ name = "Houbie", email = "ivo@houbrechts-it.be" }]
readme = "README.md"
urls = { homepage = "https://github.com/pyprojectx/pyprojectx", documentation = "https://pyprojectx.github.io" }

keywords = ["build", "dependency", "pyprojectx"]
classifiers = [
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
requires-python = ">=3.7"

dependencies = [
    "tomli>=2.0.1",
    "virtualenv>=20.21.0",
    "userpath>=1.8.0",
]
[tool.pdm.version]
source = "scm"

[tool.pdm.dev-dependencies]
test = [
    "pytest>=7.3.0",
    "pytest-mock>=3.10.0",
]

[project.scripts]
pyprojectx = "pyprojectx.cli:main"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.pylint.format]
max-line-length = 120
variable-rgx = '^[a-z_][a-z0-9_]*$'
[tool.pylint.similarities]
ignore-imports = true
[tool.pylint.master]
init-hook = """
import sys
sys.path.append(f".venv/lib/python{sys.version_info.major}.{sys.version_info.minor}/site-packages")
sys.path.append(f".venv/Lib/site-packages")
"""
[tool.pylint.messages_control]
disable = [
    "missing-docstring",
    "unspecified-encoding"
]

[tool.pyprojectx]
pdm = { requirements = "pdm==2.5.2", post-install = "pw@pre-commit install" }
black = "black==23.3.0"
isort = "isort==5.12.0"
pylint = "pylint==2.17.2"
pre-commit = "pre-commit"
mkdocs = ["mkdocs ~=1.4", "mkdocs-material ~=9.1", "mkdocstrings[python] ~=0.21", "markdown-include ~=0.8", ]

[tool.pyprojectx.aliases]
install = "pdm install"
run = "pdm run pyprojectx -t pyproject.toml "
outdated = "pdm update --outdated"
clean = "rm -r .venv .pytest_cache dist"
clean-all = """\
pw@clean
rm -r .pyprojectx"""
black = "black src tests"
isort = "isort src tests"
unit-test = "pdm run pytest tests/unit"
integration-test = "pdm run pytest tests/integration"
test = "pw@unit-test && pw@integration-test"
check-pylint = "pylint src tests"
check-black = "black src tests --check"
check = "pw@check-black && pw@check-pylint && pw@test"
build = "pw@install && pw@check && pw@pdm build"

# used in github actions:
publish = "pdm publish --username __token__"
prep-release = """\
# cleanup
rm -f wrappers.zip .changelog.md
# extract version from tag
RELEASE_VERSION="${GITHUB_REF}"
# replace __version__ in wrapper
sed -i -e "s/__version__/${RELEASE_VERSION}/g" src/pyprojectx/wrapper/pw.py
# cleanup sed backup
rm -r src/pyprojectx/wrapper/pw.py?*
mkdir -p dist-zip
cp src/pyprojectx/wrapper/pw.py dist-zip/pw
cp src/pyprojectx/wrapper/pw.bat dist-zip/pw.bat
zip -j wrappers.zip dist-zip/pw*
awk '/-{3,}/{flag=1;next}/Release/{if (flag==1)exit}flag' CHANGELOG.md > .changelog.md
"""

generate-usage = "pw@ --help > docs/docs/usage.txt"
serve-docs = "@mkdocs: cd docs && mkdocs serve"
generate-docs = "@mkdocs: pw@generate-usage && cd docs && mkdocs build"
deploy-docs = "@mkdocs: cd docs && mkdocs gh-deploy"

[tool.pyprojectx.os.win.aliases]
clean = "rmdir /s/q .venv .pytest_cache dist"
clean-all = """\
pw@clean
rmdir /s/q .pyprojectx"""
